<html>
  <head>
		<title>Taylor Wu's Commandments</title>
		<link rel='stylesheet' type='text/css' href='stylesheets/style.css'/>
  </head>
  <body>
  	<header class='header'>
  		<h1> Taylor Wu's Commandments </h1>
  	</header>
    <nav class = 'nav'>
			<ul>
			  <li><a href='index'>Home</a></li>
			</ul>
    </nav>
    <section class = 'content'>  
  	  <%= yield %>
    </section>
  </body>
</html>